* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
}

body {
    font-size: 14px;
}

/* table {
    width: 100%;
    border-collapse: collapse;
} */

.cf:after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.al {
    text-align: left;
}

.f-en {
    font-style: oblique;
}

.small {
    font-size: 12px;
}

table.items tr th {
    font-size: 12px;
    color: #666;
}

table.items tr td,
table.items tr th {
    padding: 10px 10px;
}